#modservices {
    width: 100%;
    display: table;
    position: relative;
    background-color: #004b81;
}

#services {
    width: 1170px;
    margin: 0 auto;
    padding: 80px 0;
    display: table;
    background-image: url('../../../../images/mapa.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#services .service {
    display: table;
    float: left;
    width: 25%;
    margin: 20px 0;
}

#services .service .item-service {
    width: 100%;
    margin: auto;
    text-align: center;
    display: table;
    transition: 300ms all;
}

#services .service .item-service:hover {
    transform: scale(1.02);
}

#services .service .item-service a {
    display: table;
    margin: auto;
    text-decoration: none;
    padding-top: 30px;
}

#services .service .item-service a:hover {
    text-decoration: none;
}

#services .service .item-service h1 {
    display: table;
    width: calc(100% - 10px);
    margin: 0;
    padding: 0 5px;
    height: 100px;
}

#services .service .item-service h1 a {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
}

#services .service .item-service a.img-service {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

#services .service .item-service .desc {
    padding: 10px 15px;
}

#services .service .item-service p {
    color: #FFF;
    font-size: 18px;
    line-height: 1.3;
    display: table;
}

@media screen and (max-width: 1200px) {
    #services {
        width: 100%;
    }
    #services .service {
        width: calc(25% - 10px);
        margin: 0 5px;
    }
}

@media screen and (max-width: 1024px) {
    #services .service {
        width: calc(33.33% - 20px);
        margin: 0 10px 30px 10px;
    }
}

@media screen and (max-width: 768px) {
    #modservices {
        margin-bottom: 10px;
    }
    #services {
        background-image: none;
        padding: 40px 0;
    }
    #services .service {
        width: calc(50% - 10px);
        margin: 0 5px 20px 5px;
    }
    #services .service .item-service a {
        padding: 0;
    }
    #services .service .item-service a.img-service img {
        transform: scale(0.8);
    }
    #services .service .item-service h1 a{
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    #services .service {
        margin: 0 0 20px 0;
        width: 100%;
    }
}